{% extends 'hospital/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br />
<br />

<div class="jumbotron" style="margin-bottom: 0px">
  <h1 class="display-4" style="text-align: left">Welcome Doctor</h1>
  <p class="lead">You are now in the Hospital Management System.</p>
  <hr class="my-4" />
  <p></p>
  <div class="lead">
    <p>
      LogIn to MARS HealthCare
      <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button"
        >Login</a
      ><br /><br />
      New To MARS HealthCare?
      <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button"
        >Apply</a
      >
    </p>
  </div>
</div>

{% endblock content %}
